<script setup lang="ts">

import ChecktimeDetailTable from '../views/ChecktimeDetailTable.vue';
import { provide, ref } from 'vue';
import { useChecktimesStore } from '../stores/checktime';
const checktimesStore = useChecktimesStore()

</script>
<template>
    <div style="height: 520px; overflow-y: auto;">
        <v-container>
            <v-row>
                <v-col cols="12" md="" v-if="checktimesStore.currentChecktime?.date">
                    <ChecktimeDetailTable></ChecktimeDetailTable>
                </v-col>
                <v-col cols="12" md="" v-for="item of checktimesStore.chRecords" :key="item.id">
                    <ChecktimeDetailTable :members="item"></ChecktimeDetailTable>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>
