<script setup lang="ts">
import ChecktimeDetailTable from '../views/ChecktimeDetailTable.vue';
import ChecktimeAddDialog from '../views/ChecktimeAddDialog.vue';
import type { CheckTime } from '../types/checktime';
import { ref } from 'vue';
import { useChecktimesStore } from '../stores/checktime';
import AttendanceDialog from '@/views/Auth/components/AttendanceDialog.vue';
import { useAttendanceStore } from '@/views/Auth/store/attendance';
const checktimesStore = useChecktimesStore()
const dialogStore = useAttendanceStore();

const selected = (p: CheckTime) => {
  console.log('ChecktimeView' + p)
}
const tab = ref(1)

const loaded = ref(false);
const loading = ref(false);
const memberTel = ref('')
const onClick = () => {
  // loading.value = true
}

const showAddDialog = function () {
  checktimesStore.showDialog()
}
const showChecktimeDialog = function () {
  checktimesStore.showDialogs()
}

function isChecked(): boolean {
  return checktimesStore.chItem.clockIn !== ''
}
</script>

<template>
  <v-container app fluid class="pa-0">
    <v-img src="https://picjumbo.com/wp-content/uploads/coffee-beans-background-with-place-for-text-2210x1473.jpg" cover
      class="bg">
      <v-row>
        <v-col cols="12">
          <v-row>
            <v-col cols="12">
              <v-img src="src\assets\banner5.png" cover style="height: 120px;">
                <h1 style=" font-weight: bold ; padding-left: 35px; margin: 30px;" class="d-inline-flex">Check IN/OUT</h1>
                <h3 class="d-inline-flex">
                  <p>
                    เวลาเข้างาน :
                  </p>
                  <p :class="isChecked() ? 'text-white' : 'text-red'"
                    v-text="isChecked() ? checktimesStore.chItem.clockIn : 'คุณยังไม่ได้เข้างาน'"></p>
                </h3>

              </v-img>
            </v-col>

          </v-row>
        </v-col>
        <v-col cols="8">
          <v-text-field v-model="memberTel" density="compact" variant="solo" label="Search"
            append-inner-icon="mdi-magnify" single-line hide-details @click:append-inner="onClick"
            @keyup.enter="onClick"></v-text-field>
        </v-col>

        <v-col align="center">
          <AttendanceDialog />
          <v-btn width="60%" @click.prevent="dialogStore.openAttendanceDialog()">
            <p>QUICK CHECK</p>
          </v-btn>
        </v-col>
        <v-col>
          <ChecktimeDetailTable />
        </v-col>
      </v-row>
    </v-img>
  </v-container>
</template>

<style scoped>
.section {
  background-color: #9b6b43;
  width: auto;
  height: 90px;
}

.title {
  font-size: 50pt;
  padding: 5%;
  margin: auto;
}
</style>