<script setup lang="ts">
import { useChecktimesStore } from '../stores/checktime';
const store = useChecktimesStore()
const showChecktimeDialog = function () {
    store.dialog
}

</script>
<template>
    <v-data-table :headers="store.headers" 
    fixed-header
    :items="store.chRecords" 
    class="h-screen"
    style="background-color: rgba(58, 49, 43, 0.923)"
    >
        <template #item="{ item }">
            <tr :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.user?.username }}</td>
                <td>{{ item.user?.employee?.firstName + " " + item.user?.employee?.lastName }}</td>
                <td>{{ item.clockIn }}</td>
                <td>{{ item.clockOut }}</td>
                <td>{{ item.timeWorked }}</td>
                <td>{{ item.typeWork }}</td>
            </tr>
        </template>
    </v-data-table>
</template>
