<script setup lang="ts">
import { useMemberStore } from '../store/member';
import { useReceiptStore } from '@/views/Receipt/stores/receipt'
import { ref } from 'vue';
const tel = ref('')
const memberStore = useMemberStore()
const receiptStore = useReceiptStore()
function onClick() {
    memberStore.searchMember(tel.value)
    receiptStore.calReceipt()
}
</script>
<template>
    <v-container>
        <v-row no-gutters>
            <v-col cols="2">Tel :</v-col>
            <v-col cols="10">
                <v-text-field v-model="tel" density="compact" variant="solo" label="Member Search"
                    append-inner-icon="mdi-magnify" single-line hide-details @click:append-inner="onClick"
                    @keyup.enter="onClick">

                </v-text-field>
                <br>
            </v-col>

            <v-col cols="4">Name :</v-col>
            <v-col cols="6">{{ memberStore.currentMember ? memberStore.currentMember?.fName+" "+memberStore.currentMember.lName : "ไม่พบ" }}</v-col>
            <v-col cols="4">Point :</v-col>
            <v-col cols="6">{{ memberStore.currentMember?.point }}</v-col>
            <v-col>point</v-col>
        </v-row>

    </v-container>
</template>
