<script setup lang="ts">
import { ref } from 'vue';
import { useReceiptStore } from '@/views/Receipt/stores/receipt'
const receiptStore = useReceiptStore()
const receivedMoney = ref(0.00)
const selectedPayments = ref(['Cash', 'PromptPay', 'Credit Card'])
function getReceivedMoney() {
    receiptStore.calMoney(receivedMoney.value)
}
</script>
<template>
    <v-container>
        <!-- <v-autocomplete :items="['Cash', 'PromptPay', 'Credit Card']" label="Interests" multiple></v-autocomplete> -->
        <v-select :items="selectedPayments" label="วิธีชำระเงิน :" v-model="receiptStore.paymentType" density="compact"
            required></v-select>
        <!-- <label for="" style="color: black;">{{ selected }}</label> -->
        <!-- <select v-model="selected" id="paymentSelect" style="color: black; border: 2px solid #3E2723; color: #000000;" >
                    <option v-for="selected in selectedPayments" :key="selected.id" value="" style="color: black;" >{{ selected.name }}</option>
                    
                </select> -->
        <v-text-field label="จำนวน" type="number" v-model="receivedMoney" @keyup.enter="getReceivedMoney()"
            :error="receiptStore.errorInput" density="compact" :disabled="receiptStore.paymentType === ''" />
        <!-- style="border: 1px solid #000000; width: 70px; padding: 1px; color: #000000; background-color: #c2c2c2;" -->
        <v-row class="ml-1">
            <p> เงินทอน :&nbsp;</p>
            <div>
                {{ receiptStore.receipt.change }}
            </div>
            <p>&nbsp;บาท</p>
        </v-row>
    </v-container>
</template>