<script setup lang="ts">
import { useReceiptStore } from '@/views/Receipt/stores/receipt'
import { useMemberStore } from '../store/member';
import { ref } from 'vue';

const memberStore = useMemberStore()
const receiptStore = useReceiptStore()
let usePoint = ref()
function usePoints(use:number){
    // usePoint.value = use
    receiptStore.usePoints(use)
}
// function calPoint(){
    
//     if(productStore.currentProduct && productStore.currentProduct.price && productStore.currentProduct.price >= 50){
//         givePoint = givePoint*2
//     }else{
//         givePoint++
//     }
// }
</script>
<template>
    <v-container >
        <v-row no-gutters>
            <v-col cols="6">
                Point ที่ได้รับ :
            </v-col>
            <v-col cols="4">
                {{ receiptStore.receipt.givePoint }}
            </v-col>
            <v-col>point</v-col>

            <v-col cols="6">
                Point สะสม :
            </v-col>
            <v-col cols="4">
                {{ memberStore.currentMember?.point }}                
            </v-col>
            <v-col>point</v-col>

            <v-col cols="5">
                Point ที่ใช้ :
            </v-col>
            <v-col cols="5">
                <!-- <v-text-field label="use point" :error="receiptStore.errorInputPoint" density="compact" type="number" v-model="usePoint"  @keyup.enter="usePoints(usePoint)">
                </v-text-field> -->
                <input :error="receiptStore.errorInput" density="compact" type="text" v-model="usePoint" @keyup.enter="usePoints(usePoint)" style="border: 1px solid #000000; width: 60px; color: #000000; background-color: #c2c2c2; text-align: center;">                      
            </v-col>
            <v-col>point</v-col>

            <v-col cols="6">
                Point คงเหลือ :
            </v-col>
            <v-col cols="4">
                {{ receiptStore.receipt.totalPoint }}              
            </v-col>
            <v-col>point</v-col>
        </v-row>
    </v-container>
</template>