<script setup lang="ts">
import { type Product } from '@/views/POS/types/Products';
import ProductCard from './ProductCard.vue';
import { provide, ref } from 'vue';
import { useProductsStore } from '@/views/Product/store/products';
const productsStore = useProductsStore()

const props = defineProps<{
    products: Product[]
}>()

</script>
<template>
    <div style="height: 550px; overflow-y: auto; overflow-x: hidden">
        <v-container>
            <v-row>
                <v-col cols="12" xl="3" md="4" sm="4" xs="6" v-if="productsStore.currentProduct?.name">

                    <ProductCard :product="productsStore.currentProduct"></ProductCard>
                </v-col>
                <v-col cols="12" xl="3" md="4" sm="4" xs="6" v-else v-for="item of products" :key="item.id">
                    <ProductCard :product="item"></ProductCard>

                </v-col>
            </v-row>
        </v-container>
    </div>
</template>
