<script setup lang="ts">
import { usePromotionStore } from '@/views/Promotion/store/promotion';
import { ref } from 'vue';
import PromotionList from '@/views/Promotion/components/PromotionList.vue';
import { useReceiptStore } from '@/views/Receipt/stores/receipt'
import type { Promotion } from '@/views/Promotion/types/Promotion';
const receiptStore = useReceiptStore()
const promotionStore = usePromotionStore()

// const loading = ref(false)
</script>
<template>
  <div class="text-center">


    <v-dialog v-model="promotionStore.dialogs" activator="parent" width="800px" height="600px">

      <v-sheet style="background-color: rgba(34, 34, 34, 0.836);">

        <v-card style="background-color: #C38154;">
          <h1 style="text-align: center;">Promotion</h1>

        </v-card>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col>
                <PromotionList :promotions="promotionStore.promotion" />
              </v-col>

            </v-row>
          </v-container>
        </v-card-text>
        <v-container>
          <v-row>
            <v-col>
              <v-card-actions>
                <v-btn color="pink-lighten-2" block
                  @click=" promotionStore.clear(), receiptStore.calReceipt(),promotionStore.dialogs = false">Cancel</v-btn>
              </v-card-actions>
            </v-col>
            <!-- <v-col>
              <v-card-actions>
                <v-btn color="yellow-darken-3" block @click="promotionStore.dialogs = false ">Confirm</v-btn>
              </v-card-actions>
          

            </v-col> -->
          </v-row>
        </v-container>

      </v-sheet>
    </v-dialog>
  </div>
</template>