<script setup lang="ts">
import { useReceiptStore } from '@/views/Receipt/stores/receipt'
import { usePromotionStore } from '@/views/Promotion/store/promotion';
const receiptStore = useReceiptStore()
const promotionStore = usePromotionStore()
</script>
<template>
    <v-container class="text-body-2" fluid> 
        <v-row no-gutters>
            <v-col cols="6">จำนวน :</v-col><v-col cols="4">{{ receiptStore.receipt?.totalUnit }}</v-col><v-col>รายการ</v-col>
            <v-col cols="6">ยอดรวม :</v-col><v-col cols="4">{{ receiptStore.receipt?.totalBefore}}</v-col><v-col>บาท</v-col>
            <v-col cols="4">โปรโมชัน :</v-col>
            <v-col cols="6">
                <h4 style="color: #FF9800; text-align: center;">{{ receiptStore.receipt.promotion?.name }}</h4>
            </v-col>
            <v-col cols="6">ส่วนลด :</v-col><v-col cols="4">{{ receiptStore.receipt?.discount }}</v-col><v-col>บาท</v-col>
        </v-row>
        <v-row>
            <v-col cols="5">
                <p style="font-size: medium;">รวมสุทธิ :</p>
            </v-col><v-col cols="4">
                <p style="font-size: x-large;">{{ receiptStore.receipt?.netPrice }}</p>
            </v-col><v-col>บาท</v-col>
        </v-row>
    </v-container>
</template>
<style scoped>
.v-col {
    font-family: kanit;
}
</style>
