<script setup lang="ts" >
import TablesPageLayout from '@/layouts/TablesPageLayout.vue';
import TablesUser from '../components/TablesUser.vue'

</script>

<template>
    <tables-page-layout title="User Management">
        <template #content>
            <TablesUser></TablesUser>
        </template>
    </tables-page-layout>
</template>