<script setup lang="ts">
import { type Ingredient } from '../types/Ingredient';
import StockDetailTable from '../view/StockDetailTable.vue';
import { provide, ref } from 'vue';
import { useIngredientStore } from '../store/ingredient'
const IngredientStore = useIngredientStore()

</script>
<template>
    <div style="height: 520px; overflow-y: auto;">
        <v-container>
            <v-row>
                <v-col cols="12" md="" v-if="IngredientStore.currentIngredient?.ingredientName">

                    <MemberDetailTable :members="IngredientStore.currentIngredient"></MemberDetailTable>
                </v-col>
                <v-col cols="12" md="" v-for="item of IngredientStore.ingredients" :key="item.id">
                    <MemberDetailTable :members="item"></MemberDetailTable>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>