<script setup lang="ts">
import CustomerDetailTable from './CustomerDetailTable.vue'
import CustomerDialog from './CustomerDialog.vue'
import CustomerAddDialog from './CustomerAddDialog.vue'
import CustomerList from '../components/CustomerList.vue'

import { nextTick, ref } from 'vue'
import { useMembersStore } from '../store/members'
import type { Member } from '../types/Member'
import { provide } from 'vue'
const membersStore = useMembersStore()

const selected = (p: Member) => {
  console.log('MemberView' + p)
}
const tab = ref(1)

const loaded = ref(false)
const loading = ref(false)
const memberTel = ref('')
const onClick = () => {
  // loading.value = true
  membersStore.searchMember(memberTel.value)
  console.log(memberTel.value)
}

provide('search', memberTel)

const showAddDialog = function () {
  membersStore.showDialog()
}
const showMemberDialog = function () {
  membersStore.showDialogs()
}
</script>

<template>
  <v-layout style="overflow-x: auto;">
    <v-row class="ma-0">
      <v-col cols="12">
        <v-card style="background-color: rgb(72, 42, 29); height: 120px
            ">
          <v-img src="https://png.pngtree.com/thumb_back/fh260/back_pic/03/89/32/9257d8bda6ed3b4.jpg" cover
            style="height: 150px;">
            <h1 style=" font-weight: bold ; padding-left: 35px; margin: 20px;">Customer Management</h1>
          </v-img>

        </v-card>
      </v-col>
      <v-col cols="4">
        <v-text-field v-model="memberTel" density="compact" variant="solo" label="Search" append-inner-icon="mdi-magnify"
          single-line hide-details @click:append-inner="onClick" @keyup.enter="onClick"></v-text-field>
      </v-col>
      <!-- <v-col cols="8"></v-col> -->
      <v-col cols="8">
        <v-btn style="background-color: #a17754;" @click="showAddDialog()">Add</v-btn>
        <customer-add-dialog />
      </v-col>
      <v-col>
        
        <CustomerDetailTable />
      </v-col>
    </v-row>
  </v-layout>
</template>

<style scoped>
.section {
  background-color: #9b6b43;
  width: auto;
  height: 90px;
}

.title {
  font-size: 50pt;
  padding: 5%;
  margin: auto;
}
</style>
