<template>
  <TablesPageLayout title="Customer Management">
    <template v-slot:top>
      <v-container class="pa-5" fluid>
        <v-row>
          <v-col cols="10">
            <v-text-field
              v-model="memberTel"
              density="compact"
              variant="solo"
              label="Search"
              append-inner-icon="mdi-magnify"
              single-line
              hide-details
              @click:append-inner="onClick"
              @keyup.enter="onClick"
            ></v-text-field>
          </v-col>
          <v-col cols="2">
            <v-btn
              style="background-color: #a17754"
              @click="membersStore.showDialog()"
              class="w-100"
              >Add</v-btn
            >
            <CustomerAddDialog />
          </v-col>
        </v-row>
      </v-container>
    </template>
    <template v-slot:content>
      <CustomerDetailTable />
    </template>
  </TablesPageLayout>
</template>

<script setup>
import TablesPageLayout from '@/layouts/TablesPageLayout.vue'
import { useMembersStore } from '../store/members'
import { provide, ref } from 'vue'
import CustomerDetailTable from './CustomerDetailTable.vue'
import CustomerAddDialog from './CustomerAddDialog.vue'
const membersStore = useMembersStore()

const memberTel = ref('')
const onClick = () => {
  // loading.value = true
  membersStore.searchMember(memberTel.value)
  console.log(memberTel.value)
}

provide('search', memberTel)
</script>
