<script setup lang="ts">
import { ref } from 'vue'
import type { VForm } from 'vuetify/components'
import { useMembersStore } from '@/views/Customer/store/members'
import type { Member } from '../types/Member'

const membersStore = useMembersStore()
const form = ref(false)
const refForm = ref<VForm | null>(null)
const loading = ref(false)
const editedMember = ref<Member>(JSON.parse(JSON.stringify(membersStore.member)))
function onSubmit() {}
</script>

<template>
  <v-dialog v-model="membersStore.dialogs" persistent width="1024">
    <v-card>
      <v-card-title>
        <span class="text-h5">Edit Items</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
          <v-container>
            <v-row>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="membersStore.member.fName"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="First Name"
                  >{{ editedMember.fName }}</v-text-field
                >
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="membersStore.member.lName"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Lat Name"
                  >{{ editedMember.lName }}</v-text-field
                >
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="membersStore.member.tel"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Tel."
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="membersStore.member.point"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Point"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="membersStore.member.birthDate"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="BirthDate"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="green-darken-1"
              variant="text"
              @click="(membersStore.dialogs = false), membersStore.clear()"
            >
              close
            </v-btn>
            <v-btn
              color="green-darken-1"
              variant="text"
              @click="
                () => {
                  membersStore.dialogs = false
                  membersStore.clear()
                }
              "
            >
              save
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
  <v-dialog v-model="membersStore.dialogDelete" max-width="500px">
    <v-card>
      <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue-darken-1" variant="text" @click="membersStore.closeDelete">Cancel</v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="membersStore.deleteItemConfirm"
          >OK</v-btn
        >
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
