<script setup lang="ts">
import type { Member } from '../types/Member'
import { useMembersStore } from '../store/members'
import { inject, ref } from 'vue'
import CustomerDialog from '../views/CustomerDialog.vue'
const membersStore = useMembersStore()
const showMemberDialog = function () {
  membersStore.dialog
}
const headers = [
  { title: 'ID', key: 'id', class: 'my-header-style' },
  { title: 'First Name', key: 'fname', sortable: false },
  { title: 'Last Name', key: 'lname', sortable: false },
  { title: 'Tel.', key: 'tel', sortable: false },
  { title: 'Point', key: 'point', sortable: false },
  { title: 'BirthDate', key: 'birthDate', sortable: false },
  { title: 'Actions', key: 'actions', sortable: false }
]
const search = inject<string>('search')
</script>
<template>
  <v-data-table
    class="h-100"
    fixed-header
    :headers="headers"
    :items="membersStore.members"
    style="background-color: rgba(58, 49, 43, 0.923)"
    :search="search"
  >
    <template v-slot:item="{ item }">
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.fName }}</td>
        <td>{{ item.lName }}</td>
        <td>{{ item.tel }}</td>
        <td>{{ item.point }}</td>
        <td>{{ item.birthDate }}</td>
        <td>
          <v-icon size="small" class="me-2" @click="membersStore.editItem(item)">
            mdi-pencil
          </v-icon>
          <v-icon size="small" @click="membersStore.deleteItem(item)"> mdi-delete </v-icon>
        </td>
      </tr>
    </template>
  </v-data-table>
  <CustomerDialog />
</template>
<style>
.my-header-style {
  background: #666fff;
}
</style>
