<script setup lang="ts">
import { ref } from 'vue'
import type { VForm } from 'vuetify/components'
import { useMembersStore } from '@/views/Customer/store/members'
import type { Member } from '../types/Member'
import DatePickerDialog from '@/components/DatePickerDialog.vue'
import { useDatePickerStore } from '@/services/datePicker'


const dateStore = useDatePickerStore()
const membersStore = useMembersStore()
const form = ref(false)
const refForm = ref<VForm | null>(null)
const loading = ref(false)

function onSubmit() { }

// const initDate = ref(new Date())
// const selectedDate = dateStore.getFormattedDate()

const datePickerDialog = ref(false)


function getSelectedDate(date: string) {
  membersStore.editedMember.birthDate = date
}

function openDatePickerDialog() {
  datePickerDialog.value = true
}

</script>

<template>
  <v-dialog v-model="membersStore.dialog" persistent width="550">
    <v-card>
      <v-card-title>
        <v-card-title style="text-align: center">
          <v-container>
            <v-row no-gutters>
              <v-col cols="5"></v-col>
              <v-col cols="">
                <v-img src="src\assets\MainLogo.png" width="85"></v-img>
              </v-col>
            </v-row>
          </v-container>
          <span class="text-h5">Register Member</span>
        </v-card-title>
      </v-card-title>
      <v-card-text>
        <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
          <v-container>
            <v-row>
              <v-col cols="6">
                <v-text-field v-model="membersStore.editedMember.fName" :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable label="First Name"></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field v-model="membersStore.editedMember.lName" :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable label="Last Name"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field v-model="membersStore.editedMember.tel" :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable label="Tel."></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field v-model="membersStore.editedMember.point" :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable label="Point"></v-text-field>
              </v-col>
              <!-- <v-col cols="12">
                <v-text-field
                  v-model="membersStore.editedMember.birthDate"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="BirthDate"
                ></v-text-field>
              </v-col> -->

              <v-col cols="12">
                <v-menu max-width="290">
                  <template #activator>
                    <v-text-field v-model="membersStore.editedMember.birthDate" readonly prepend-icon="mdi-calendar"
                      @click="openDatePickerDialog" label="Birth Date">
                    </v-text-field>
                    <date-picker-dialog :dialog="datePickerDialog" @getDialog="(newValue) => datePickerDialog = newValue"
                      @selectedDate="getSelectedDate" />
                  </template>
                </v-menu>
              </v-col>
            </v-row>
          </v-container>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green-darken-1" variant="text" @click="(membersStore.dialog = false), membersStore.clear()">
              close
            </v-btn>
            <v-btn color="green-darken-1" variant="text" @click="() => {
              membersStore.dialog = false
              membersStore.save()
              membersStore.clear()
            }
              ">
              save
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
