<script setup lang="ts">
import CardShort from '../components/CardShort.vue';
import ChartBox from '../components/ChartBox.vue';
import RecentTransaction from '../components/RecentTransaction.vue';
import TopSales from '../components/TopSales.vue';
</script>

<template>
  <v-img src="https://e1.pxfuel.com/desktop-wallpaper/803/792/desktop-wallpaper-coffee-backgrounds-black-coffee.jpg" cover
    class="bg-img">
  </v-img>
  <!-- <v-carousel cycle height="400" hide-delimiter-background show-arrows="hover">
    <v-carousel-item src="src/views/Home/assets/present1.jpg"></v-carousel-item>
    <v-carousel-item src="src/views/Home/assets/present2.jpg"></v-carousel-item>
    <v-carousel-item src="src/views/Home/assets/present3.jpg"></v-carousel-item>
    <v-carousel-item src="src/views/Home/assets/present4.jpg"></v-carousel-item>
    <v-carousel-item src="src/views/Home/assets/present5.jpg"></v-carousel-item>
  </v-carousel> -->
  <v-container class="mx-auto text-center" fluid>
    <v-row>
      <v-col cols="4">
        <CardShort title="ยอดลูกค้ารายใหม่" subtitle="from yesterday" class_subtitle="text-green" :old-data="100"
          :new-data="122" icon="mdi-heart" />
      </v-col>
      <v-col cols="4">
        <CardShort icon="mdi-cart" title="ยอดขายรายวัน" subtitle="from yesterday" class_subtitle="text-green"
          :old-data="1100" :new-data="1222">
        </CardShort>
      </v-col>
      <v-col cols="4">
        <CardShort icon="mdi-currency-usd" title="ยอดค่าใช้จ่ายรายเดือน" subtitle="from last month" :old-data="65000"
          class_subtitle="text-red" :new-data="67000" />
      </v-col>
      <v-col cols="6">
        <ChartBox />
      </v-col>
      <v-col cols="6">
        <TopSales />
      </v-col>
      <v-col>
        <RecentTransaction />
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.v-card__subtitle {
  color: green;
}

/* .v-col{
  background-color: rgba(157, 157, 157, 0.464);
} */
</style>