<script setup lang="ts">
import { ref } from 'vue'
import { useEmployeeStore } from '../stores/employee'
import type { VForm } from 'vuetify/components'
import type { Employee } from '../types/Employee'



const employeeStore = useEmployeeStore()
const form = ref(false)
const refForm = ref<VForm | null>(null)
const loading = ref(false)

const editedEmployee = ref<Employee>(JSON.parse(JSON.stringify(employeeStore.employee1)))
function onSubmit() {}
</script>

<template>
  <v-dialog v-model="employeeStore.dialogAdd" persistent
        width="800">
    <v-card>
      <v-card-title>
        <span class="text-h5">Add Employee</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  v-model="employeeStore.editedEmployee.firstName"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="First Name"
                  >{{ editedEmployee.firstName }}
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  v-model="employeeStore.editedEmployee.lastName"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Last Name"
                >{{ editedEmployee.lastName }}</v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  v-model="employeeStore.editedEmployee.tel"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Tel."
                >{{ editedEmployee.tel }}</v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  v-model="employeeStore.editedEmployee.birthDate"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Birth Date"
                >{{ editedEmployee.birthDate }}</v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-combobox
                  label="Gender"
                  :readonly="loading"
                  class="mb-2"
                  clearable
                  :items="['ผู้ชาย', 'ผู้หญิง']"
                  :rules="[(v) => !!v || 'Field is required']"
                  v-model="employeeStore.editedEmployee.gender"
                >{{ editedEmployee.gender }}</v-combobox>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-combobox
                  label="Qualification"
                  :readonly="loading"
                  class="mb-2"
                  clearable
                  :items="['ปริญญาตรี', 'ปริญญาโท', 'ปวส.', 'ปวช.']"
                  :rules="[(v) => !!v || 'Field is required']"
                  v-model="employeeStore.editedEmployee.qualification"
                >{{ editedEmployee.qualification }}</v-combobox>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  v-model="employeeStore.editedEmployee.startDate"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Start Date"
                >{{ editedEmployee.startDate }}</v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  v-model="employeeStore.editedEmployee.moneyrate"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="MoneyRate(baht.)/month"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  v-model="employeeStore.editedEmployee.minWorkingHour"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="MinWorkHour/month"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6" >
                <v-combobox
                  label="Role"
                  :readonly="loading"
                  class="mb-2"
                  clearable
                  :items="['ผู้จัดการ', 'พนักงาน', 'เจ้าของร้าน']"
                  :rules="[(v) => !!v || 'Field is required']"
                  v-model="employeeStore.editedEmployee.roles"
                >{{ editedEmployee.roles }}</v-combobox>
              </v-col>
            </v-row>
          </v-container>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue-darken-1" variant="text" @click="(employeeStore.dialogAdd = false), employeeStore.clear()">
              CLOSE
            </v-btn>
            <v-btn
              color="blue-darken-1"
              variant="text"
              @click="
                () => {
                  // Only proceed if form validation passes
                  employeeStore.dialogAdd = false
                  employeeStore.save()
                  employeeStore.clear()
                }
              "
            >
              SAVE
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
