<template>
    <TablesPageLayout title="Employee Management">
        <template #top>
            <v-container fluid class="pa-5" style="background-color: #4b302a;">
                <v-row >
                    <v-col cols="10">
                        <v-text-field v-model="empSearch" density="compact" variant="solo"
                            label="Search  ( FirstName, LastName, StartDate or Tel. )" append-inner-icon="mdi-magnify" single-line
                            hide-details @click:append-inner="onClick" @keyup.enter="onClick"></v-text-field>
                    </v-col>
                    <v-col cols="2">
                        <v-btn class="w-100" color="#FFC26F" @click="employeeStore.showDialogAdd()">Add</v-btn>
                        <EmployeeAddDialog></EmployeeAddDialog>
                    </v-col>
                </v-row>
            </v-container>
        </template>
        <template #content>
            <EmployeeTable />
        </template>
    </TablesPageLayout>
</template>
<script setup>
import TablesPageLayout from '@/layouts/TablesPageLayout.vue';
import { useEmployeeStore } from '../stores/employee';
import { provide, ref } from 'vue';
import EmployeeAddDialog from '../views/EmployeeAddDialog.vue'
import EmployeeTable from '../components/EmployeeTable.vue'



const employeeStore = useEmployeeStore()

const empSearch = ref('')

function onClick() {

    const [tel, firstName, lastName, birthDate, startDate] = empSearch.value.split(',');

    employeeStore.searchEmployee(tel, firstName, lastName, birthDate, startDate);
    console.log(empSearch.value);
}

provide('search', empSearch)
</script>