<script setup lang="ts">

import { useEmployeeStore } from '../stores/employee';
import { provide, ref } from 'vue';
import EmployeeAddDialog from '../views/EmployeeAddDialog.vue'
import EmployeeTable from '../components/EmployeeTable.vue'



const employeeStore = useEmployeeStore()

const showAddDialog = function () {
    employeeStore.showDialogAdd()
}


const empSearch = ref('')

function onClick() {

    const [tel, firstName, lastName] = empSearch.value.split(',');

    employeeStore.searchEmployee(tel, firstName, lastName);
    console.log(empSearch.value);
}

provide('search', empSearch)
</script>

<template>
    <v-container app fluid class="pa-0">
        <v-row>
            <v-col cols="12">
                <v-card style="background-color: #C38154; height: 120px; ">
                    <v-container>
                        <v-row>
                            <v-col>
                                <h1 style="padding: 2%; text-align: left;">Employee Management</h1>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card>
            </v-col>
            <v-col cols="6">
                <v-text-field v-model="empSearch" density="compact" variant="solo"
                    label="Search  ( FirstName, LastName or Tel. )" append-inner-icon="mdi-magnify" single-line hide-details
                    @click:append-inner="onClick" @keyup.enter="onClick"></v-text-field>
            </v-col>
            <v-col cols="2" style="padding-top: 1.6%;">
                <v-btn color="#FFC26F" @click="showAddDialog()">Add</v-btn>
                <EmployeeAddDialog></EmployeeAddDialog>
            </v-col>

            <v-col>
                <!-- <v-sheet elevation="8" max-width="100%" max-height="600px" height="600px" > -->
                <EmployeeTable></EmployeeTable>
                <!-- </v-sheet> -->
            </v-col>
        </v-row>
    </v-container>
</template>

<style scoped></style>