<script setup lang="ts">
import { ref } from 'vue';
import { useEmployeeStore } from '../stores/employee';
import type { VForm } from 'vuetify/components';
import type { Employee } from '../types/Employee';





const employeeStore = useEmployeeStore()
const form = ref(false)
const refForm = ref<VForm|null>(null)
const loading = ref(false)

const editedEmployee = ref<Employee>(JSON.parse(JSON.stringify(employeeStore.employee1)))
function onSubmit() {
}
</script>

<template>
    <v-dialog
    v-model="employeeStore.dialogEdit"
                    persistent
                    width="800"
                    >
                    
                    <v-card>
                        <v-card-title>
                        <span class="text-h5">Edit Items</span>
                        </v-card-title>
                        <v-card-text>
                            <v-form
                                ref="refForm"
                                v-model="form"
                                @submit.prevent="onSubmit"
                                >
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field
                                                v-model="employeeStore.employee1.firstName"
                                                :readonly="loading"
                                                :rules="[(v) => !!v || 'Field is required']"
                                                class="mb-2"
                                                clearable
                                                label="First Name"
                                            >{{ editedEmployee.firstName }}
                                            </v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field
                                                v-model="employeeStore.employee1.lastName"                                                  
                                                :readonly="loading"
                                                :rules="[(v) => !!v || 'Field is required']"
                                                class="mb-2"
                                                clearable
                                                label="Last Name"
                                                
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field
                                                v-model="employeeStore.employee1.tel"                                                  
                                                :readonly="loading"
                                                :rules="[(v) => !!v || 'Field is required']"
                                                class="mb-2"
                                                clearable
                                                label="Tel."
                                                
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field
                                                v-model="employeeStore.employee1.birthDate"                                                  
                                                :readonly="loading"
                                                :rules="[(v) => !!v || 'Field is required']"
                                                class="mb-2"
                                                clearable
                                                label="Birth Date"
                                                
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-combobox
                                                label="Gender"
                                                :readonly="loading"
                                                :items="['ผู้ชาย', 'ผู้หญิง']"
                                                :rules="[(v) => !!v || 'Field is required']"
                                                v-model="employeeStore.employee1.gender"
                                            ></v-combobox>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-combobox
                                                label="Qualification"
                                                :readonly="loading"
                                                :items="['ปริญญาตรี','ปริญญาโท','ปวส.','ปวช.']"
                                                :rules="[(v) => !!v || 'Field is required']"
                                                v-model="employeeStore.employee1.qualification"
                                            ></v-combobox>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field
                                                v-model="employeeStore.employee1.startDate"                                                  
                                                :readonly="loading"
                                                :rules="[(v) => !!v || 'Field is required']"
                                                class="mb-2"
                                                clearable
                                                label="Start Date"
                                                
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field
                                                v-model="employeeStore.employee1.moneyrate"                                                  
                                                :readonly="loading"
                                                :rules="[(v) => !!v || 'Field is required']"
                                                class="mb-2"
                                                clearable
                                                label="MoneyRate(baht.)/month"
                                                
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field
                                                v-model="employeeStore.employee1.minWorkingHour"                                                  
                                                :readonly="loading"
                                                :rules="[(v) => !!v || 'Field is required']"
                                                class="mb-2"
                                                clearable
                                                label="MinWorkHour/month"
                                                
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-combobox
                                                label="Role"
                                                :readonly="loading"
                                                :items="['ผู้จัดการ','พนักงาน','เจ้าของร้าน']"
                                                :rules="[(v) => !!v || 'Field is required']"
                                                v-model="employeeStore.employee1.roles"
                                            ></v-combobox>
                                        </v-col>
                                    </v-row>
                                </v-container>
                                <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="(employeeStore.dialogEdit = false), employeeStore.clear()">
            CLOSE
          </v-btn>
          <v-btn
            color="blue-darken-1"
            variant="text"

            @click="() => {
                  employeeStore.dialogEdit = false;
                  employeeStore.clear();

              }"
            >
            SAVE
          </v-btn>
        </v-card-actions>
            </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="employeeStore.dialogDel" max-width="500px">
                        <v-card>
                            <v-card-title class="text-h5">Are you sure you want to delete?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue-darken-1" variant="text" @click="employeeStore.closeDelete">Cancel</v-btn>
                                <v-btn color="blue-darken-1" variant="text" @click="employeeStore.deleteItemConfirm">OK</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

</template>