<script setup lang="ts">
import { ref } from 'vue';
import type { VForm } from 'vuetify/components';
import { useProductsStore } from '@/views/Product/store/products'
import type { Product } from '@/views/POS/types/Products';

const productsStore = useProductsStore()
const form = ref(false)
const refForm = ref<VForm|null>(null)
const loading = ref(false)
const editedProduct = ref<Product>(JSON.parse(JSON.stringify(productsStore.product)))
function onSubmit() {
}


</script>

<template>

     <v-dialog
                    v-model="productsStore.dialogs"
                    persistent
                    width="1024"
                    >
                    
                    <v-card>
                        <v-card-title>
                        <span class="text-h5">Edit Items</span>
                        </v-card-title>
                        <v-card-text>
                            <v-form
                                ref="refForm"
                                v-model="form"
                                @submit.prevent="onSubmit"
                                >
                                <v-container >
                                    <v-row>
                                        <v-col cols="12" sm="12" md="4">
                                            <v-text-field
                                                v-model="productsStore.product.name"
                                                :readonly="loading"
                                                :rules="[(v) => !!v || 'Field is required']"
                                                class="mb-2"
                                                clearable
                                                label="Name"
                                            >{{ editedProduct.name }}</v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="12" md="4">
                                            <v-text-field
                                                v-model="productsStore.product.price"
                                                :readonly="loading"
                                                :rules="[(v) => !!v || 'Field is required']"
                                                class="mb-2"
                                                clearable
                                                label="Price"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="12" md="4">
                                            <v-text-field
                                                v-model="productsStore.product.type"
                                                :readonly="loading"
                                                :rules="[(v) => !!v || 'Field is required']"
                                                class="mb-2"
                                                clearable
                                                label="Type"
                                            ></v-text-field>
                                        </v-col>
                                        
                                    </v-row>
                                </v-container>

                               
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green-darken-1"
            variant="text"
            @click="productsStore.dialogs = false"
          >
            close
          </v-btn>
          <v-btn
            color="green-darken-1"
            variant="text"
            @click="() => {
                productsStore.dialogs = false
                productsStore.clear()
                }"
            >
            save
          </v-btn>
        </v-card-actions>
            </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="productsStore.dialogDelete" max-width="500px">
                        <v-card>
                            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue-darken-1" variant="text" @click="productsStore.closeDelete">Cancel</v-btn>
                                <v-btn color="blue-darken-1" variant="text" @click="productsStore.deleteItemConfirm">OK</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

</template>