<script setup lang="ts">
import { ref } from 'vue';
import type { VForm } from 'vuetify/components';
import { useProductsStore } from '@/views/Product/store/products'
import type { Product } from '@/views/POS/types/Products';

const productsStore = useProductsStore()
const form = ref(false)
const refForm = ref<VForm | null>(null)
const loading = ref(false)

const editedProduct = ref<Product>(JSON.parse(JSON.stringify(productsStore.product)))
function onSubmit() {
}

</script>

<template>
    <v-dialog v-model="productsStore.dialog" persistent width="1024">

        <v-card>
            <v-card-title>
                <span class="text-h5">Add Items</span>
            </v-card-title>
            <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                    <v-container>
                        <v-row>
                            <v-col cols="12" sm="12" md="4">
                                <v-text-field v-model="productsStore.editedProduct.name" :readonly="loading"
                                    :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable label="Name">{{
                                        editedProduct.name }}</v-text-field>
                            </v-col>
                            <v-col cols="12" sm="12" md="4">
                                <v-text-field v-model="productsStore.editedProduct.price" :readonly="loading"
                                    :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                                    label="Price"></v-text-field>
                            </v-col>
                            <v-col>
                                <!-- <v-combobox
                                                v-model="productsStore.editedProduct.type"
                                                :items="[{title: 'Drink', value: 'drink'}, {title: 'Bakery', value: 'bakery'}, {title: 'Food', value: 'food'}]"
                                                label="Type"
                                                multiple
                                                :return-object="false"
                                            ></v-combobox> -->
                                <v-text-field v-model="productsStore.editedProduct.type" :readonly="loading"
                                    :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                                    label="Type"></v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green-darken-1" variant="text" @click="productsStore.dialog = false">
                            close
                        </v-btn>
                        <v-btn color="green-darken-1" variant="text" @click="() => {
                            productsStore.dialog = false
                            productsStore.save()
                            productsStore.clear()
                        }">
                            save
                        </v-btn>
                    </v-card-actions>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>