<template>
  <TablesPageLayout title="Product Management">
    <template #top>
      <v-container class="pa-5" fluid>
        <v-row>
          <v-col cols="10">
            <v-text-field v-model="productName" density="compact" variant="solo" label="Search"
              append-inner-icon="mdi-magnify" single-line hide-details @click:append-inner="onClick"
              @keyup.enter="onClick"></v-text-field>
          </v-col>
          <v-col cols="2">
            <v-btn color="#a17754" class="w-100" @click="productsStore.showDialog()">Add</v-btn>
            <ProductAddDialog />
          </v-col>
        </v-row>
      </v-container>
    </template>
    <template #content>
      <ProductDetailTable />
    </template>
  </TablesPageLayout>
</template>

<script setup>
import TablesPageLayout from '@/layouts/TablesPageLayout.vue';
import ProductDetailTable from './ProductDetailTable.vue';

import { ref } from 'vue';
import { useProductsStore } from '../store/products';
import { provide } from 'vue';
import ProductAddDialog from './ProductAddDialog.vue';

const productsStore = useProductsStore()
const productName = ref('')
const onClick = () => {
  // loading.value = true
  productsStore.searchProduct(productName.value)
  console.log(productName.value)

}

provide('search', productName)

</script>