<script setup lang="ts">
import type { Product } from '@/views/POS/types/Products';
import { useProductsStore } from '../store/products';
import { inject, ref } from 'vue';
import ProductDialog from '../view/ProductDialog.vue'
const productsStore = useProductsStore()
const showProductDialog = function () {
  productsStore.dialog
}

const search = inject<string>('search')

</script>
<template>
  <!-- <v-tabs v-model="productsStore.selectedTab"
                        color="#9b6b43"
                        align-tabs="start">
              <v-tab v-for="(type, index) in productsStore.productTypes" :key="index">
                <div v-if="type===1">
                <v-icon icon="mdi-coffee"></v-icon>
                  Drink
                </div>
                <div v-if="type===2">
                <v-icon icon="mdi-cake-variant"></v-icon>
                  Bakery
                </div>
                <div v-if="type===3">
                <v-icon icon="mdi-silverware-fork-knife"></v-icon>
                  Food
                </div>
              </v-tab>
            </v-tabs> -->

  <!-- <v-tab-items v-model="productsStore.selectedTab">
              <v-tab-item v-for="(type, index) in productsStore.productTypes" :key="index"> -->
  <!-- <v-table>
                  <thead >
                    <tr>
                        <th>ID</th>
                        <th></th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td >{{ item.id }}</td>
                          <td>        
                              <v-img :src="`src/views/product/assets/AllProduct/product${item.id}.png`" width="120" height="120" cover></v-img>
                          </td >
                          <td>{{ item.name }}</td>
                          <td>{{ item.price }}</td>
                          <td>
                                  <v-icon size="small" class="me-2" @click="productsStore.editItem(item)">
                                      mdi-pencil
                                  </v-icon>
                                  <v-icon size="small" @click="productsStore.deleteItem(item)">
                                      mdi-delete

                                  </v-icon>
                              </td>
                    </tr>
                  </tbody> -->
  <!--                 
              </v-tab-item>
            </v-tab-items> -->

  <v-data-table class="h-100" fixed-header :headers="productsStore.headers" :items="productsStore.AllProduct"
  style="background-color: rgba(58, 49, 43, 0.923)"
    :search="search">
    
    <template v-slot:item="{ item }">

      <tr>
        <!-- v-for="item in productsStore.AllProduct" :key="item.id" -->
        <td>{{ item.id }}</td>
        <td>
          <v-img :src="`src/views/product/assets/AllProduct/product${item.id}.png`" width="120" height="120"
            cover></v-img>
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.type }}</td>
        <td>
          <v-icon size="small" class="me-2" @click="productsStore.editItem(item)">
            mdi-pencil
          </v-icon>
          <v-icon size="small" @click="productsStore.deleteItem(item)">
            mdi-delete
          </v-icon>
        </td>
      </tr>
    </template>


  </v-data-table>
  <ProductDialog />
</template>