<script setup lang="ts">
import ProductDetailTable from './ProductDetailTable.vue';
import ProductDialog from './ProductDialog.vue';
import ProductAddDialog from './ProductAddDialog.vue';
import ProductList from '../components/ProductList.vue';
import type { Product } from '@/views/POS/types/Products';
import { nextTick, ref } from 'vue';
import { useReceiptStore } from '@/views/Receipt/stores/receipt'
import { useProductsStore } from '../store/products';
import { provide } from 'vue';
const productsStore = useProductsStore()
const receiptStore = useReceiptStore()

const divReceiptItems = ref<HTMLElement | null>(null)

const selected = (p: Product) => {
  console.log('ProductView' + p)
  receiptStore.addReceiptItem(p)
  nextTick(() => {
    if (divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
  })
}
const tab = ref(1)

const loaded = ref(false);
const loading = ref(false);
const productName = ref('')
const onClick = () => {
  // loading.value = true
  productsStore.searchProduct(productName.value)
  console.log(productName.value)

}

provide('search',productName)

const showAddDialog = function () {
  productsStore.showDialog()
}
const showProductDialog = function () {
  productsStore.showDialogs()
}

</script>

<template>
  
  <v-container app fluid class="pa-0" >
    
    <v-row>
      <v-col cols="12">
        <v-card style="background-color: #c38154; height: 120px;">
          <v-container>
            <v-row>
              <v-col>
                <h1>Product Management</h1>
              </v-col>
              <v-col cols="1">
               <v-card-actions block>
                <v-btn  @click="showAddDialog()">Add</v-btn>
                <product-add-dialog />
               </v-card-actions>
      </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
      <v-col cols="4">
        <v-text-field v-model="productName" density="compact" variant="solo" label="Search"
          append-inner-icon="mdi-magnify" single-line hide-details @click:append-inner="onClick"
          @keyup.enter="onClick"></v-text-field>
      </v-col>
      <!-- <v-col cols="8"></v-col> -->
      <v-col cols="8">
        <v-btn color="#efcead" @click="showAddDialog()">Add</v-btn>
        <product-add-dialog />
      </v-col>
      <v-col>
        <!-- <v-sheet min-width="300" max-width="auto" height="600" elevation="6">
                    <v-tabs
                        v-model="tab"
                        color="#9b6b43"
                        align-tabs="start"
                        >
                        <v-tab :value="1">Drink</v-tab>
                        <v-tab :value="2">Bakery</v-tab>
                        <v-tab :value="3">Food</v-tab>
                        </v-tabs>
                        <v-window v-model="tab">
                          <v-window-item :value="1">
                            
                          <ProductList :product2="productsStore.products1" @selected-product="selected"/>
                              {{ productsStore.currentProduct }}
                          </v-window-item>
                          <v-window-item :value="2">
                              <ProductList :product2="productsStore.products2" @selected-product="selected"/>
                          </v-window-item>
                          <v-window-item :value="3">
                              <ProductList :product2="productsStore.products3" @selected-product="selected"/>
                          </v-window-item>
          </v-window>
          </v-sheet> -->


        <!-- <v-tabs v-model="productsStore.selectedTab">
              <v-tab v-for="(type, index) in productsStore.productTypes" :key="index">
                <div v-if="type===1">
                  Drink
                </div>
                <div v-if="type===2">
                  Bakery
                </div>
                <div v-if="type===3">
                  Food
                </div>
              </v-tab>
            </v-tabs>

            <v-tab-items v-model="productsStore.selectedTab">
              <v-tab-item v-for="(type, index) in productsStore.productTypes" :key="index">
                <v-table>
                  <thead v-if="productsStore.selectedTab === index">
                    <tr>
                        <th>ID</th>
                        <th></th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                  </thead>
                  <tbody v-if="productsStore.selectedTab === index">
                    <tr  v-for="item in productsStore.getProductsByType(type)" :key="item.id">
                      <td >{{ item.id }}</td>
                          <td>        
                              <v-img :src="`src/views/product/assets/AllProduct/product${item.id}.png`" width="120" height="120" cover></v-img>
                          </td >
                          <td>{{ item.name }}</td>
                          <td>{{ item.price }}</td>
                          <td>
                                  <v-icon size="small" class="me-2" @click="productsStore.editItem(item)">
                                      mdi-pencil
                                  </v-icon>
                                  <v-icon size="small" @click="productsStore.deleteItem(item)">
                                      mdi-delete

                                  </v-icon>
                              </td>
                    </tr>
                  </tbody>
                </v-table>
                <ProductDialog />
                
              </v-tab-item>
            </v-tab-items> -->
        <!-- <ProductDetailTable /> -->
        <!-- <ProductList :product2=""/> -->
        <ProductDetailTable />

      </v-col>
    </v-row>
 
  </v-container>

</template>

<style scoped>
.section {
  background-color: #9b6b43;
  width: auto;
  height: 90px;
}

.title {
  font-size: 50pt;
  padding: 5%;
  margin: auto;
}
</style>

