<script setup lang="ts">
import TablesPageLayout from '@/layouts/TablesPageLayout.vue'
import BillTable from '@/views/Bill/components/BillTable.vue'
import { useBillStore } from '../stores/bill';
import BillAddDialog from '../components/BillAddDialog.vue';
const store = useBillStore();

</script>

<template>
  <TablesPageLayout title="Bills Records">
    <template v-slot:top>
      <v-container class="pa-5" fluid>
        <v-row>
          <v-col cols="10">
            <v-text-field
              density="compact"
              variant="solo"
              label="Search"
              append-inner-icon="mdi-magnify"
              single-line
              hide-details
            ></v-text-field>
          </v-col>
          <v-col cols="2">
            <v-btn
              style="background-color: #a17754"
              @click="store.showDialog()"
              class="w-100"
              >Add</v-btn
            >
          </v-col>
        </v-row>
      </v-container>
    </template>
    <template #content>
      <BillTable></BillTable>
    </template>
  </TablesPageLayout>
  <BillAddDialog></BillAddDialog>
</template>
