<script setup lang="ts">
import type { Product } from '@/views/POS/types/Products'
import { nextTick, ref } from 'vue'
import ReceiptTable from './ReceiptTable.vue'
</script>

<template>
  <v-container app fluid class="pa-0">
    <v-toolbar color="rgba(72,42,29,0.8)">
      <v-toolbar-title> Receipt Record </v-toolbar-title>
    </v-toolbar>
    <!-- <v-col cols="4">
          <v-text-field
            density="compact"
            variant="solo"
            label="Search"
            append-inner-icon="mdi-magnify"
            single-line
            hide-details
          ></v-text-field>
      </v-col> -->
    <v-row>
      <v-col cols="8"></v-col>

      <v-col>
        <v-sheet min-width="300" max-width="auto" height="600" elevation="6">
          <ReceiptTable></ReceiptTable>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.section {
  background-color: #9b6b43;
  width: auto;
  height: 90px;
}

.title {
  font-size: 50pt;
  padding: 5%;
  margin: auto;
}
</style>
