<template>
    <v-data-table :headers="store.headers" :items="store.users" class="h-screen">
        <template v-slot:top>
            <v-toolbar color="rgba(72,42,29,0.8)">
                <v-toolbar-title>
                    <v-text-field density="compact" variant="solo" label="Search" append-inner-icon="mdi-magnify"
                        single-line hide-details></v-text-field>
                </v-toolbar-title>
                <v-dialog v-model="store.dialog" max-width="500px" persistent>
                    <template v-slot:activator="{ props }">
                        <v-btn dark v-bind="props" @click="store.editItem(null)">
                            <p class="font-weight-bold">New Item</p>
                        </v-btn>
                    </template>
                    <v-card rounded="lg">
                        <v-card-title>
                            <p class="text-h5 mt-5 mx-5">{{ store.formTitle }}</p>
                        </v-card-title>

                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-text-field v-model="store.editedItem.username" label="Username"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-text-field v-model="store.editedItem.password" label="Password"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="4">
                                        <v-select v-model="store.editedItem.roles" label="Roles" multiple
                                            :items="['admin', 'employee']"></v-select>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue-darken-1" variant="text" @click="store.close">
                                Cancel
                            </v-btn>
                            <v-btn color="blue-darken-1" variant="text" @click="store.save">
                                Save
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="store.dialogDelete" max-width="500px">
                    <v-card>
                        <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue-darken-1" variant="text" @click="store.closeDelete">Cancel</v-btn>
                            <v-btn color="blue-darken-1" variant="text" @click="store.deleteItemConfirm">OK</v-btn>
                            <v-spacer></v-spacer>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-toolbar>
        </template>
        <template v-slot:item="{ item }">
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.username }}</td>
                <td>{{ item.password }}</td>
                <td>{{ item.roles.join(', ') }}</td>
                <td>
                    <v-icon size="small" class="me-2" @click="store.editItem(item)">
                        mdi-pencil
                    </v-icon>
                    <v-icon size="small" @click="store.deleteItem(item)">
                        mdi-delete
                    </v-icon>
                </td>
            </tr>
        </template>
        <template v-slot:no-data>
            <v-btn color="primary">
                Refresh
            </v-btn>
        </template>
    </v-data-table>
</template>

<script setup>
import { useUserStore } from '../stores/user';

const store = useUserStore()
</script>