<script setup lang="ts">
import { useBillStore } from '../stores/bill';
const useBill = useBillStore()
</script>

<template>
     <v-dialog v-model="useBill.dialogPay" max-width="500px">
                    <v-card>
                        <v-card-title class="text-h5">Are you sure you already Paid this.</v-card-title>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue-darken-1" variant="text" @click="useBill.closePay">Cancel</v-btn>
                            <v-btn color="blue-darken-1" variant="text" @click="useBill.confirmPay">OK</v-btn>
                            <v-spacer></v-spacer>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
</template>