<script setup lang="ts">
import { ref } from 'vue'
import type { VForm } from 'vuetify/components'
import { useBillStore } from '@/views/Bill/stores/bill'
import type { Bill } from '../types/Bill'

const store = useBillStore()
const form = ref(false)
const refForm = ref<VForm | null>(null)
const loading = ref(false)
const select = ref(["ค่าน้ำ","ค่าไฟ"])
const editedBill = ref<Bill>(JSON.parse(JSON.stringify(store.editedItem)))
function onSubmit() {}

// const selectedDate = dateStore.getFormattedDate()
</script>

<template>
  <v-dialog v-model="store.addDialog" persistent width="550">
    <v-card>
      <v-card-title>
        <v-card-title style="text-align: center">
          <v-container>
            <v-row no-gutters>
              <v-col cols="5"></v-col>
              <v-col cols="">
                <v-img src="src\assets\MainLogo.png" width="85"></v-img>
              </v-col>
            </v-row>
          </v-container>
          <span class="text-h5">Bill Add</span>
        </v-card-title>
      </v-card-title>
      <v-card-text>
        <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
          <v-container>
            <v-row>
              <v-col cols="6">
                <v-select label="รายการ" :items="select" v-model="store.editedItem.name"></v-select>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  v-model="store.editedItem.worth"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Field is required']"
                  class="mb-2"
                  clearable
                  label="Worth"
                  ></v-text-field
                >
              </v-col>
              
            </v-row>
          </v-container>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="green-darken-1"
              variant="text"
              @click="(store.addDialog = false)"
            >
              close
            </v-btn>
            <v-btn
              color="green-darken-1"
              variant="text"
              @click="
                () => {
                  store.addDialog = false
                  store.save()
                }
              "
            >
              save
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
