<script setup lang="ts">
import {useBillStore} from  '@/views/Bill/stores/bill'
import BillPayDialog from './BillPayDialog.vue';
import { ref } from 'vue';
import type { Bill } from '../types/Bill';
import { useDate } from 'vuetify';


const useBill = useBillStore();
const tab = ref(1)
const sortBy = [{ key: 'id', order: 'desc' }]

</script>

<template>
      <v-tabs
      v-model="tab"
      color="#FFC26F"
      align-tabs="center"
    >
      <v-tab :value="1">Paid</v-tab>
      <v-tab :value="2">Pending</v-tab>
    </v-tabs>
    <v-window v-model="tab">
      <v-window-item
        :value="1"
      >
        <v-data-table :headers="useBill.headers" :items="useBill.billsPaid" class="h-screen" :sort-by="sortBy">
          <template  v-slot:item="{ item }">
                <tr v-if="item.status">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ useDate().format(item.date, 'shortDate') }}</td>
                    <td>{{ item.worth }}</td>
                    <td>Paid</td>
                    <td>
                        <v-icon size="small" @click="useBill.deleteItem(item)">
                            mdi-delete
                        </v-icon>
                    </td>
                </tr>
            </template>
            <template v-slot:no-data>
                <v-btn color="primary">
                    Refresh
                </v-btn>
            </template>
        </v-data-table>
        
      </v-window-item>
      <v-window-item
        :value="2"
      >
      <v-data-table :headers="useBill.headers" :items="useBill.billsPending" class="h-screen" :sort-by="sortBy">
          <template v-slot:item="{ item }">
                <tr >
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ useDate().format(item.date, 'shortDate') }}</td>
                    <td>{{ item.worth }}</td>
                    <td><v-btn @click="useBill.pay(item)">Pending</v-btn></td>
                    <td>
                        <v-icon size="small" @click="useBill.deleteItem(item)">
                            mdi-delete
                        </v-icon>
                    </td>
                </tr>
            </template>
            <template v-slot:no-data>
                <v-btn color="primary">
                    Refresh
                </v-btn>
            </template>
        </v-data-table>
        
      </v-window-item>
    </v-window>
    <v-dialog v-model="useBill.dialogDelete" max-width="500px">
                    <v-card>
                        <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue-darken-1" variant="text" @click="useBill.closeDelete">Cancel</v-btn>
                            <v-btn color="blue-darken-1" variant="text" @click="useBill.deleteItemConfirm">OK</v-btn>
                            <v-spacer></v-spacer>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
    <BillPayDialog></BillPayDialog>
</template>

