<template>
    <TablesPageLayout title="Promotion Management">
        <template #top>
            <v-container class="pa-5" fluid>
                <v-row>
                    <v-col cols="10">
                        <v-text-field density="compact" variant="solo" label="Search" append-inner-icon="mdi-magnify"
                            single-line hide-details></v-text-field>
                    </v-col>
                    <v-col cols="2">
                        <v-btn class="w-100" color="#a17754" @click="promotionStore.showDialog()">Add</v-btn>
                        <PromotionAddDialog />

                        <v-dialog v-model="promotionStore.dialogs" max-width="500px" persistent>
                            <v-card>
                                <v-card-title>
                                    <span class="text-h5">Edit Promotion</span>
                                </v-card-title>
                                <v-card-text>
                                    <v-container>
                                        <v-row>
                                            <v-col cols="12">
                                                <v-text-field v-model="promotionStore.editedPromotion.name"
                                                    label="Name"></v-text-field>
                                            </v-col>
                                            <v-col cols="12">
                                                <v-text-field v-model="promotionStore.editedPromotion.description"
                                                    label="Description"></v-text-field>
                                            </v-col>
                                            <v-col cols="12">
                                                <v-text-field v-model="promotionStore.editedPromotion.discount"
                                                    label="Discount"></v-text-field>
                                            </v-col>
                                            <v-col cols="12">
                                                <v-text-field v-model="promotionStore.editedPromotion.startDate"
                                                    label="Start Date"></v-text-field>
                                            </v-col>
                                            <v-col cols="12">
                                                <v-text-field v-model="promotionStore.editedPromotion.endDate"
                                                    label="End Date"></v-text-field>
                                            </v-col>
                                            <v-col cols="12">
                                                <label for="status">Status</label>
                                                <v-combobox v-model="promotionStore.editedPromotion.status"
                                                    :items="[{ title: 'Active', value: 'active' }, { title: 'Inactive', value: 'inactive' }]"
                                                    label="Status" multiple :return-object="false"></v-combobox>

                                            </v-col>
                                        </v-row>
                                    </v-container>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="green-darken-1" variant="text" @click=" 
                                        promotionStore.dialogs = false
                                        ">
                                        close
                                    </v-btn>
                                    <v-btn color="green-darken-1" variant="text" @click="() => {
                                        promotionStore.dialogs = false

                                    }">
                                        save
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-col>
                </v-row>
            </v-container>
        </template>
        <template #content>
            <PromotionTables />
        </template>
    </TablesPageLayout>
</template>
<script setup>
import TablesPageLayout from '@/layouts/TablesPageLayout.vue';
import PromotionTables from '../components/PromotionTables.vue';
import PromotionAddDialog from './PromotionAddDialog.vue';
import { usePromotionStore } from '../store/promotion';

const promotionStore = usePromotionStore()
</script>