<script setup lang="ts">
import PromotionAddDialog from './PromotionAddDialog.vue'
import { usePromotionStore } from '../store/promotion.ts'
import { useReceiptStore } from '@/views/Receipt/stores/receipt'
import { ref } from 'vue';
const promotionStore = usePromotionStore()
const receiptStore = useReceiptStore()
const showAddDialog = function () {
    promotionStore.showDialog()
}
const showPromotionDialog = function () {
    promotionStore.showDialogs()
}

// const loading = ref()
const promotionName = ref('')
const onClick = () => {
    //   loading.value = true


}
const search = ref('')
</script>

<template>
    <v-container app fluid class="pa-0">
        <v-row class="w-100 ma-0">
            <v-col cols="12">
                <v-card style="background-color: #c38154; height: 120px;">
                    <v-container>
                        <v-row>
                            <v-col>
                                <h1>Promotion Management</h1>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card>
            </v-col>
            <v-col cols="4">
                <v-text-field v-model="search" density="compact" variant="solo" label="Search"
                    append-inner-icon="mdi-magnify" single-line hide-details @click:append-inner="onClick"
                    @keyup.enter="onClick"></v-text-field>
            </v-col>
            <v-col cols="4">
                <v-btn color="#efcead" @click="showAddDialog()">Add</v-btn>
                <PromotionAddDialog />
            </v-col>

            <v-dialog v-model="promotionStore.dialogs" max-width="500px" persistent>
                <v-card>
                    <v-card-title>
                        <span class="text-h5">Edit Promotion</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container>
                            <v-row>
                                <v-col cols="12">
                                    <v-text-field v-model="promotionStore.editedPromotion.name" label="Name"></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                    <v-text-field v-model="promotionStore.editedPromotion.description"
                                        label="Description"></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                    <v-text-field v-model="promotionStore.editedPromotion.discount"
                                        label="Discount"></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                    <v-text-field v-model="promotionStore.editedPromotion.startDate"
                                        label="Start Date"></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                    <v-text-field v-model="promotionStore.editedPromotion.endDate"
                                        label="End Date"></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                    <label for="status">Status</label>
                                    <v-combobox v-model="promotionStore.editedPromotion.status"
                                        :items="[{ title: 'Active', value: 'active' }, { title: 'Inactive', value: 'inactive' }]"
                                        label="Status" multiple :return-object="false"></v-combobox>

                                </v-col>
                            </v-row>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green-darken-1" variant="text" @click=" 
                            promotionStore.dialogs = false
                            ">
                            close
                        </v-btn>
                        <v-btn color="green-darken-1" variant="text" @click="() => {
                            promotionStore.dialogs = false

                        }">
                            save
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>



            <v-col>
                <v-data-table class="h-100" fixed-header :headers="promotionStore.headers" :items="promotionStore.promotion"
                
                    :search="search">
                    <template v-slot:item="{ item }">
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.description }}</td>
                            <td>{{ item.discount }}</td>
                            <td>{{ item.startDate }}</td>
                            <td>{{ item.endDate }}</td>
                            <td>{{ item.status.join('') }}</td>
                            <td>

                                <v-icon size="small" class="me-2" @click="promotionStore.editItem(item)">
                                    mdi-pencil
                                </v-icon>
                                <v-icon size="small" @click="promotionStore.deleteItem(item)">
                                    mdi-delete
                                </v-icon>

                            </td>
                        </tr>
                    </template>
                </v-data-table>
            </v-col>
        </v-row>
    </v-container>

    <!-- <PromotionAddDialog/> -->
</template>

<style scoped></style>
