<script setup lang="ts">
import { ref } from 'vue';
import { usePromotionStore } from '../store/promotion.ts'
import type { Promotion } from '../types/Promotion';
const promotionStore = usePromotionStore()

const loading = ref(false)
// defineProps<{
//     promotions: Promotion
// }>()
</script>

<template>
    <!-- <v-dialog v-model="promotionStore.dialog" max-width="500px" persistent>
                        <template v-slot:activator="{ props }">
                            <v-btn color="#efcead" dark class="mb-2" v-bind="props" @click="promotionStore.editItem(null)">
                                <p class="font-weight-bold">Add</p>
                            </v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="text-h5">Add New Promotion</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="12" md="4">
                                            <v-text-field
                                                v-model="promotionStore.editedPromotion.name"
                                                :readonly="loading"
                                                :rules="[(v) => !!v || 'Field is required']"
                                                class="mb-2"
                                                clearable
                                                label="Name"
                                            >{{ promotionStore.editedPromotion.name }}</v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="12" md="4">
                                            <v-text-field
                                                v-model="promotionStore.editedPromotion.description"
                                                :readonly="loading"
                                                :rules="[(v) => !!v || 'Field is required']"
                                                class="mb-2"
                                                clearable
                                                label="Description"
                                            >{{ promotionStore.editedPromotion.description }}</v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="12" md="4">
                                            <v-text-field
                                                v-model="promotionStore.editedPromotion.discount"
                                                :readonly="loading"
                                                :rules="[(v) => !!v || 'Field is required']"
                                                class="mb-2"
                                                clearable
                                                label="Discount"
                                            >{{ promotionStore.editedPromotion.discount }}</v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="12" md="4">
                                            <v-text-field
                                                v-model="promotionStore.editedPromotion.startDate"
                                                :readonly="loading"
                                                :rules="[(v) => !!v || 'Field is required']"
                                                class="mb-2"
                                                clearable
                                                label="Start Date"
                                            >{{ promotionStore.editedPromotion.startDate }}</v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="12" md="4">
                                            <v-text-field
                                                v-model="promotionStore.editedPromotion.endDate"
                                                :readonly="loading"
                                                :rules="[(v) => !!v || 'Field is required']"
                                                class="mb-2"
                                                clearable
                                                label="End Date"
                                            >{{ promotionStore.editedPromotion.endDate }}</v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="12" md="4">
                                            <v-text-field
                                                v-model="promotionStore.editedPromotion.status"
                                                :readonly="loading"
                                                :rules="[(v) => !!v || 'Field is required']"
                                                class="mb-2"
                                                clearable
                                                label="Status"
                                            >{{ promotionStore.editedPromotion.status }}</v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                    color="green-darken-1"
                                    variant="text"
                                    @click="promotionStore.dialog = false"
                                >
                                    close
                                </v-btn>
                                <v-btn
                                    color="green-darken-1"
                                    variant="text"
                                    @click="() => {
                                        promotionStore.dialog = false
                                        
                                        }"
                                    >
                                    save
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog> -->
    
    <div>
        <v-dialog
        v-model="promotionStore.dialog"
        activator="parent"
        width="auto"
      >
        <v-card>
          <v-card-text>
            <v-container>
                <v-row>
                    <v-col cols="12">
                        <v-text-field  v-model="promotionStore.editedPromotion.name"
                                                label="Name">

                        </v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-text-field  v-model="promotionStore.editedPromotion.description"
                                                label="Description">

                        </v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-text-field  v-model="promotionStore.editedPromotion.discount"
                                                label="Discount">

                        </v-text-field>
                    </v-col>
                    <v-col cols="6">
                        <v-text-field  v-model="promotionStore.editedPromotion.startDate" label="Start Date"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="6">
                        <v-text-field v-model="promotionStore.editedPromotion.endDate" label="End Date"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <label for="status">Status</label>
                        <v-combobox
                            v-model="promotionStore.editedPromotion.status"
                            :items="[{title: 'Active', value: 'active'}, {title: 'Inactive', value: 'inactive'}]"
                            label="Status"
                            
                            multiple
                            :return-object="false"
                        ></v-combobox>
                    </v-col>
                
                </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <!-- <v-btn color="primary" block @click="promotionStore.dialog = false">Close</v-btn> -->
            <v-card-actions>
                <v-spacer></v-spacer>
                    <v-btn
                        color="green-darken-1"
                        variant="text"
                        @click="promotionStore.dialog = false"
                    >
                    close
                    </v-btn>
                    <v-btn
                        color="green-darken-1"
                        variant="text"
                        @click="() => {
                        promotionStore.dialog = false
                        promotionStore.save()
                        promotionStore.clear()
                        
                                        
                        }"
                        >
                    save
                    </v-btn>
                    </v-card-actions>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="promotionStore.dialogDelete" max-width="500px">
                        <v-card>
                            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue-darken-1" variant="text" @click="promotionStore.closeDelete">Cancel</v-btn>
                                <v-btn color="blue-darken-1" variant="text" @click="promotionStore.deleteItemConfirm">OK</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
    </div>
</template>

