<script setup lang="ts">
import { type Product } from '@/views/POS/types/Products';
import ProductDetailTable  from '../view/ProductDetailTable.vue'
import { provide, ref } from 'vue';
import { useProductsStore } from '../store/products'
import { useProductStore } from '@/views/POS/store/product';
const productsStore = useProductsStore()
const props = defineProps<{
    product2: Product[]
}>()

</script>
<template>
    <div style="height: 520px; overflow-y: auto;" >
        <v-container>
        <v-row>
            <v-col cols="12" md="" v-if="productsStore.currentProduct?.name" >
                
            <ProductDetailTable :product1="productsStore.currentProduct" ></ProductDetailTable>
            </v-col>   
            <v-col cols="12" md="" v-else  v-for="item of productsStore.AllProduct" :key="item.id">
            <ProductDetailTable :product1="item" ></ProductDetailTable>
            </v-col>
        </v-row>
    </v-container>
    </div>
    

</template>
