<script setup lang="ts">
// import { useDatePickerStore } from '@/services/datePicker';
// const store = useDatePickerStore()
// store.editDate = props.editDate || new Date()

// onMounted(() => {
//     if (!props.editDate) {
//         store.resetState()
//     }
// })

import { ref } from 'vue';

const props = defineProps<{
    initDate?: Date
    dialog: boolean
}>()

const editDate = ref(new Date())
const localDialog = ref(props.dialog || false)

const emit = defineEmits<{
    selectedDate: [date: string],
    getDialog: [value: boolean]
}>()

function closeDialog() {
    emit('getDialog', false)
    // localDialog.value = false
}

function saveDate() {
    emit('selectedDate', editDate.value.toLocaleDateString())
    closeDialog()
}

</script>

<template>
    <v-dialog v-model="$props.dialog">
        <v-container>
            <v-row justify="center">
                <v-date-picker rounded="lg" width="400" v-model:model-value="editDate">
                    <template #actions>
                        <v-btn @click="closeDialog">
                            close
                        </v-btn>
                        <v-btn @click="saveDate">
                            save
                        </v-btn>
                    </template>
                </v-date-picker>
            </v-row>
        </v-container>
    </v-dialog>
</template>