<script setup lang="ts">
import { useAuthStore } from '@/services/auth';

const auth = useAuthStore()

const user = auth.methods.getCurrentUser()
</script>

<template>
    <v-container fill-height>
        <!-- JSON -->
        {{ user }}
        <!-- how to use -->
        <div>
            id = {{ user.id }}
            <br>
            password = {{ user.password }}
            <br>
            emp = {{ user.employee }}
            <br>
            emp name = {{ user.employee?.firstName + " " + user.employee?.lastName }}
        </div>
    </v-container>
</template>