<script setup lang="ts">
import { useAuthStore } from '@/services/auth';
import { routesWithIcon } from '@/router/icons';
import { onMounted } from 'vue';
import { ref } from 'vue';
import { type RouteRecordNormalized } from 'vue-router'
import { useRouter } from 'vue-router';
import { getFullName } from '@/views/Employee/types/Employee';

const auth = useAuthStore()

const router = useRouter();
const routes = ref<RouteRecordNormalized[]>([]);

onMounted(() => {
    if (auth.methods.isAuthenticated()) {
        router.removeRoute('login')
    }
    routes.value = router.getRoutes();
});

const drawer = ref(true)
const rail = ref(true)

function checkPath(path: RouteRecordNormalized | string): string | undefined {
    if (typeof path === 'string') {
        return routesWithIcon.get(path);
    } else {
        return routesWithIcon.get(path.name?.toString()!);
    }
}

const authStore = useAuthStore();
// auth.data.currentUser.employee?.firstName + ' ' + auth.data.currentUser.employee?.lastName
</script>
<template>
    <v-navigation-drawer app color="rgba(72,42,29,0.4)" theme="dark" permanent v-model="drawer" :rail="rail"
        @click="rail = false">
        <template v-slot:prepend>
            <v-list>
                <v-list-item :title="getFullName(auth.data.currentUser.employee!)"
                    :subtitle="auth.data.currentUser.roles.join(', ')" prepend-avatar="https://shorturl.at/gIKN6">
                    <template v-slot:append>
                        <v-btn variant="text" icon="mdi-chevron-left" @click.stop="rail = !rail"></v-btn>
                    </template>
                </v-list-item>
            </v-list>
            <v-divider />
        </template>
        <v-list v-if="authStore.data.currentUser.roles.includes('admin')">
            <v-list-item v-for=" route in routes" :key="route.path" :to="route.path"
                :title="(route.name as string).toUpperCase()" :prepend-icon="checkPath(route)">
            </v-list-item>
        </v-list>
        <v-list v-else>
            <v-list-item v-for=" route in authStore.data.employeeRoutes" :key="route" :to="route"
                :title="(route.toUpperCase()).replace('/', '')" :prepend-icon="checkPath((route).replace('/', ''))">
            </v-list-item>
        </v-list>
        <template v-slot:append>
            <v-divider />
            <v-list class="pa-1">
                <v-list-item title="LOGOUT" prepend-icon="mdi-logout" @click="auth.methods.logout()"></v-list-item>
            </v-list>
        </template>
    </v-navigation-drawer>
</template>