<script setup lang="ts">
import PromotionCard from './PromotionCard.vue';
import { provide, ref } from 'vue';
import { type Promotion } from '../types/Promotion' 
import { usePromotionStore } from '../store/promotion';
const PromotionStore = usePromotionStore()
const props = defineProps<{
    promotions: Promotion[]
}>()

</script>
<template>
    <div style="height: 360px; overflow-y: auto;" >
        <v-container>
        <v-row>
             
            <v-col cols="12" md="" v-for="item of promotions" :key="item.id">
                <PromotionCard :promotion="item" ></PromotionCard>
            </v-col>
        </v-row>
    </v-container>
    </div>
    

</template>
