<script setup lang="ts">
import { type Promotion } from '../types/Promotion' 
import { usePromotionStore } from '../store/promotion';
import { useReceiptStore } from '@/views/Receipt/stores/receipt'
import { ref } from 'vue';
const store = usePromotionStore()
const receiptStore = useReceiptStore()
const show = ref(false);
defineProps<{
    promotion: Promotion
}>()
const isButtonDisabled =  false
</script>
<template>
    <v-card width="210" class="mx-auto" elevation="3" >
        <!-- <v-img :src="`src/views/promotion/assets/promotion${promotion.id}.png`" width="210" height="168" cover></v-img>
        <div style="text-align: center;">{{ promotion.name }} <br>{{ promotion.discount }} ฿</div> -->

        <v-img
      :src="`src/views/promotion/assets/promotion${promotion.id}.png`"
      height="200px"
      cover
    ></v-img>

    <v-card-title>
        <div> {{ promotion.name }}</div>
        
    </v-card-title>

    <v-card-subtitle>
        {{ promotion.discount }} ฿
        
    </v-card-subtitle>
        <v-card-actions>
          <div v-if="promotion.status.includes('inactive')">
            <v-btn
              :disabled="isButtonDisabled"
                color="pink-lighten-2
"
                variant="text"
                @click="store.useSelectPromotion(promotion), receiptStore.calReceipt(),  store.closeDialog()" 
                
              >
              <div >{{ promotion.status.join(',')  }}</div>

            </v-btn>
            
          </div>
          <div v-else>
            <v-btn
              :disabled="isButtonDisabled"
                color="orange-lighten-2"
                variant="text"
                @click="store.useSelectPromotion(promotion), receiptStore.calReceipt(),  store.closeDialog()" 
                
              >
              <div >{{ promotion.status.join(',')  }}</div>

            </v-btn>
          </div>
      

      <v-spacer></v-spacer>

      <v-btn
        :icon="show ? 'mdi-chevron-up' : 'mdi-chevron-down'"
        @click="show = !show"
      ></v-btn>
    </v-card-actions>
        <v-expand-transition>
      <div v-show="show">
        <v-divider></v-divider>

        <v-card-text>
            <h4>{{ promotion.description }}</h4>
            
            <p style="text-align: right;">หมดเขต   {{ promotion.endDate }}</p>
        </v-card-text>
      </div>
    </v-expand-transition>
    </v-card>

</template>
