<template>
    <v-data-table class="h-100" fixed-header :headers="promotionStore.headers" :items="promotionStore.promotion"
    style="background-color: rgba(58, 49, 43, 0.923)"
        :search="search">
        <template v-slot:item="{ item }">
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.discount }}</td>
                <td>{{ item.startDate }}</td>
                <td>{{ item.endDate }}</td>
                <td>{{ item.status.join('') }}</td>
                <td>

                    <v-icon size="small" class="me-2" @click="promotionStore.editItem(item)">
                        mdi-pencil
                    </v-icon>
                    <v-icon size="small" @click="promotionStore.deleteItem(item)">
                        mdi-delete
                    </v-icon>
                </td>
            </tr>
        </template>
    </v-data-table>
</template>

<script setup>
import { usePromotionStore } from '../store/promotion.ts'
import { ref } from 'vue';
const promotionStore = usePromotionStore()

const search = ref('')
</script>