<script setup lang="ts">
import { useIngredientStore } from '../store/ingredient';
const ingredientStore = useIngredientStore()
</script>
<template>
    <div>
        <v-dialog v-model="ingredientStore.dialogCheckStock" activator="parent" width="auto">
            <v-card>
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="12">
                                <v-table>
                                    <thead>
                                        <tr>
                                            <th class="text-left">
                                                ID
                                            </th>
                                            <th class="text-left">
                                                ingredient ID
                                            </th>
                                            <th class="text-left">
                                                ingredient name
                                            </th>
                                            <th class="text-left">
                                                minimum
                                            </th>
                                            <th class="text-left">
                                                balance
                                            </th>
                                            <th class="text-left">
                                                unit
                                            </th>
                                            <th class="text-left">
                                                status
                                            </th>
                                            <th class="text-left">
                                                Check

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in ingredientStore.ingredients " :key="item.id">
                                            <td>{{ item.id }}</td>
                                            <td>{{ item.ingredientID }}</td>
                                            <td>{{ item.ingredientName }}</td>
                                            <td>{{ item.minimum }}</td>
                                            <td>{{ item.balance }}</td>
                                            <td>{{ item.unit }}</td>
                                            <td>{{ item.status.join(',') }}</td>
                                            <td>
                                                <v-checkbox label=""></v-checkbox>
                                            </td>
                                        </tr>
                                    </tbody>
                                    
                                </v-table>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <!-- <v-btn color="primary" block @click="promotionStore.dialog = false">Close</v-btn> -->
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green-darken-1" variant="text" @click="ingredientStore.dialogCheckStock = false">
                            close
                        </v-btn>
                        <v-btn color="green-darken-1" variant="text" @click="ingredientStore.dialogCheckStock = false">
                            print
                        </v-btn>
                    </v-card-actions>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>