<script setup lang="ts">
import { useIngredientStore } from '../store/ingredient';
const ingredientStore = useIngredientStore()

function minValueItem() {
      if (ingredientStore.ingredients.length === 0) {
        return null;
      }

      // Find the item with the minimum value
      return ingredientStore.ingredients.reduce((min, current) => (current.balance < min.minimum ? current : min), ingredientStore.ingredients[0]);
    }
</script>
<template>
    <div>
        
    </div>
</template>