<template>
  <TablesPageLayout title="Stock Management">
    <template #top>
      <v-container class="pa-5" fluid>
        <v-row>
          <v-col cols="10">
            <v-text-field v-model="ingredientName" density="compact" variant="solo" label="Search"
              append-inner-icon="mdi-magnify" single-line hide-details @click:append-inner="onClick"
              @keyup.enter="onClick"></v-text-field>
          </v-col>
          <v-col cols="2">
            <v-btn color="#a17754" class="w-100" @click="ingredientStore.showDialogs()">Add</v-btn>
          </v-col>
          <v-col cols="10"></v-col>
          <v-col cols="2">
            <v-btn color="#a17754" class="w-100" @click="ingredientStore.showDialoges()">CheckStock</v-btn>
          </v-col>
          <StockAddDialog />
          <CheckStockDialog/>
        </v-row>
      </v-container>
    </template>
    <template #content>
      <StockDetailTable />
    </template>
  </TablesPageLayout>
</template>

<script setup>
import { provide, ref } from 'vue';
import TablesPageLayout from '@/layouts/TablesPageLayout.vue';
import StockList from '../components/StockList.vue'
import { useIngredientStore } from '../store/ingredient';
import StockAddDialog from './StockAddDialog.vue';
import StockDialog from './StockDialog.vue';
import CheckStockDialog from './CheckStockDialog.vue'
import StockDetailTable from './StockDetailTable.vue';
const ingredientName = ref('')
const ingredientStore = useIngredientStore()
const onClick = () => {
  // loading.value = true
  ingredientStore.searchIngredient(ingredientName.value)
  console.log(ingredientName.value)

}

provide('search', ingredientName)

</script>