<!-- <script setup lang="ts">
import { provide, ref } from 'vue';
import StockList from '../components/StockList.vue'
import { useIngredientStore } from '../store/ingredient';
import StockAddDialog from './StockAddDialog.vue';
import StockDialog from './StockDialog.vue';
import CheckStockDialog from './CheckStockDialog.vue'
import StockDetailTable from './StockDetailTable.vue';
const ingredientName = ref('')
const ingredientStore = useIngredientStore()

const showIngredientDialog = function () { //add
    ingredientStore.showDialogs()
}

const showIngredientDialogs = function () { //numkao
    ingredientStore.showDialoges()
}

const showLowStock = function () {
    ingredientStore.showDialogLow()
}

const search = ref('')
const onClick = () => {
  // loading.value = true
  ingredientStore.searchIngredient(search.value)
  console.log(search.value)
}

provide('search', search)




</script>

<template>
    <v-container app fluid class="pa-0">
        <v-row>
          <v-col cols="12">
            <v-card style="background-color: rgb(72, 42, 29); height: 120px
          ">
          <v-img src="src\assets\banner5.png" cover
          style="height: 150px;"
          >

                  <h1 style=" font-weight: bold ; padding-left: 35px; margin: 30px;">Stock Management</h1>
       
          </v-img>
            
          </v-card>
          </v-col>
          <v-col cols="4">
            <v-text-field
              v-model="search"
              density="compact"
              variant="solo"
              label="Search"
              append-inner-icon="mdi-magnify"
              single-line
              hide-details
              @click:append-inner="onClick"
              @keyup.enter="onClick"
            ></v-text-field>
          </v-col>
          <!-- <v-col cols="8"></v-col> -->
          <v-col cols="6">
            <v-btn style="background-color: #a17754;" @click="showIngredientDialog()">Add</v-btn>
            
          </v-col>
          <!-- <v-col cols="">
            <v-btn style="background-color: #a17754;" @click="showIngredientDialogs()">CheckStock</v-btn>
          </v-col>
          <StockAddDialog /> -->
          
          <!-- <CheckStockDialog/> -->
          <!-- <v-col>
            <StockDetailTable />
          </v-col> -->
        </v-row>
    </v-container>
  </template>
  
  <style scoped>
  .section {
    background-color: #9b6b43;
    width: auto;
    height: 90px;
  }
  
  .title {
    font-size: 50pt;
    padding: 5%;
    margin: auto;
  }
  </style> -->