<script setup lang="ts">
import type { Ingredient } from '../types/Ingredient';
import { useIngredientStore } from '../store/ingredient';
import { inject, ref } from 'vue'
import StockDialog from './StockDialog.vue';
const ingredientStore = useIngredientStore()
const headers = [
    { title: 'ID', key: 'id',class: 'my-header-style'  },
    { title: 'IngredientID', key: 'ingredientId', sortable: false  },
    { title: 'IngredientName', key: 'ingredientName', sortable: false },
    { title: 'Minimum', key: 'minimum', sortable: false },
    { title: 'Balance', key: 'balance', sortable: false },
    { title: 'Unit', key: 'unit', sortable: false },
    { title: 'Status', key: 'status', sortable: false },
    { title: 'Action', key: 'action', sortable: false },
  ]
const search = inject<string>('search')
</script>
<template>
  
    <v-data-table
      class="h-screen"
      fixed-header
      :headers="headers"
      :items="ingredientStore.ingredients"
      style="background-color: rgba(58, 49, 43, 0.923)"
      :search="search"
    >
      <template v-slot:item="{ item }" >
        <tr>
        <td>{{ item.id }}</td>
          <td>{{ item.ingredientID }}</td>
          <td>{{ item.ingredientName }}</td>
          <td>{{ item.minimum }}</td>
          <td>{{ item.balance }}</td>
          <td>{{ item.unit }}</td>
          <td>{{ item.status.join('') }}</td>
          <td>
            <v-icon size="small" class="me-2" @click="ingredientStore.editItem(item)">
              mdi-pencil
            </v-icon>
            <v-icon size="small" @click="ingredientStore.deleteItem(item)"> mdi-delete </v-icon>
          </td>
        </tr>
      </template>
    </v-data-table>
    <StockDialog />
  </template>
  <style>
  .my-header-style {
    background: #666fff;
  }
  </style>