<script setup lang="ts">
import { ref } from 'vue';
import type { VForm } from 'vuetify/components';
import { useIngredientStore } from '../store/ingredient';
import type { Ingredient } from '../types/Ingredient';

const ingredientStore = useIngredientStore()
const form = ref(false)
const refForm = ref<VForm | null>(null)
const loading = ref(false)
const editedIngredient = ref<Ingredient>(JSON.parse(JSON.stringify(ingredientStore.defaultIngredient)))
function onSubmit() {
}

</script>
<template>
    <v-dialog v-model="ingredientStore.dialog" persistent width="auto">

        <v-card>
            <v-card-title>
                <span class="text-h5">Edit Items</span>
            </v-card-title>
            <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                    <v-container>
                        <v-row>
                            <v-col cols="12" sm="12" md="4">
                                <v-text-field v-model="ingredientStore.defaultIngredient.ingredientID" :readonly="loading"
                                    :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                                    label="IngredientID"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="12" md="4">
                                <v-text-field v-model="ingredientStore.defaultIngredient.ingredientName" :readonly="loading"
                                    :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                                    label="IngredientName"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="12" md="4">
                                <v-text-field v-model="ingredientStore.defaultIngredient.minimum" :readonly="loading"
                                    :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                                    label="Minimum"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="12" md="4">
                                <v-text-field v-model="ingredientStore.defaultIngredient.balance" :readonly="loading"
                                    :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                                    label="Balance"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="12" md="4">
                                <v-text-field v-model="ingredientStore.defaultIngredient.unit" :readonly="loading"
                                    :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                                    label="Unit"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                                <v-select v-model="ingredientStore.defaultIngredient.status" label="Status" multiple
                                    :items="['ปกติ', 'เหลือน้อย']"></v-select>
                            </v-col>
                        </v-row>
                    </v-container>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green-darken-1" variant="text" @click="ingredientStore.dialog = false">
                            close
                        </v-btn>
                        <v-btn color="green-darken-1" variant="text" @click="() => {
                            ingredientStore.dialog = false
                            ingredientStore.clear()
                        }">
                            save
                        </v-btn>
                    </v-card-actions>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
    <v-dialog v-model="ingredientStore.dialogDelete" max-width="500px">
        <v-card>
            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="ingredientStore.closeDelete">Cancel</v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="ingredientStore.deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>import { useIngredientStore } from '../store/useIngredientStore';
