<script setup lang="ts">
import { ref } from 'vue';
import { useIngredientStore } from '../store/ingredient';
const ingredientStore = useIngredientStore()
</script>
<template>
    <div>
        <v-dialog
        v-model="ingredientStore.dialogs"
        activator="parent"
        width="auto"
      >
        <v-card>
          <v-card-text>
            <v-container>
                <v-row>
                    <v-col cols="12">
                        <v-text-field  v-model="ingredientStore.editedIngredient.ingredientID"
                                                label="IngredientID">

                        </v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-text-field  v-model="ingredientStore.editedIngredient.ingredientName"
                                                label="IngredientName">

                        </v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-text-field  v-model="ingredientStore.editedIngredient.minimum"
                                                label="Minimum">

                        </v-text-field>
                    </v-col>
                    <v-col cols="6">
                        <v-text-field  v-model="ingredientStore.editedIngredient.balance" label="Balance"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="6">
                        <v-text-field v-model="ingredientStore.editedIngredient.unit" label="Unit"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <label for="status">Status</label>
                        <v-combobox
                            v-model="ingredientStore.editedIngredient.status"
                            :items="[{title: 'ปกติ', value: 'ปกติ'}, {title: 'เหลือน้อย', value: 'เหลือน้อย'}]"
                            label="Status"
                            
                            multiple
                            :return-object="false"
                        ></v-combobox>
                    </v-col>
                
                </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <!-- <v-btn color="primary" block @click="promotionStore.dialog = false">Close</v-btn> -->
            <v-card-actions>
                <v-spacer></v-spacer>
                    <v-btn
                        color="green-darken-1"
                        variant="text"
                        @click="ingredientStore.dialogs = false"
                    >
                    close
                    </v-btn>
                    <v-btn
                        color="green-darken-1"
                        variant="text"
                        @click="() => {
                        ingredientStore.dialogs = false
                        ingredientStore.save()
                        ingredientStore.clear()
                        
                                        
                        }"
                        >
                    save
                    </v-btn>
                    </v-card-actions>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
</template>
