<template>
    <v-img src="src/views/About/assets/bg-coffee-beans-2.png" class="bg-img" cover>
    </v-img>
    <v-container class=" h-screen " fluid>
        <v-col class="text-center ">
            <v-card class="custom-bg-header pa-3">
                <h1>
                    D-Coffee · Web App
                </h1>
                <p>
                    This is one of the team's projects in the Web-Pro subject, representing a coffee store management app,
                    including POS (Point of Sale).
                </p>
            </v-card>
        </v-col>
        <v-col class="text-center">
            <v-card class="custom-bg pa-3">
                <h1>SimpleDev Members</h1>
                <q> We never gonna give you up </q>
            </v-card>
        </v-col>
        <v-row class="justify-center mt-3">
            <AboutCardVue />
        </v-row>
        <v-footer class="text-center mt-8 bg-transparent">
            <v-col>
                <h5>For Education Only. © 2023 D-Coffee, SimpleDev Team.
                    All
                    right
                    reserved.</h5>
            </v-col>
        </v-footer>
    </v-container>
</template>

<script setup lang="ts">
import AboutCardVue from '../components/AboutCard.vue'
</script>

<style scoped>
/* .bg {
    overflow-x: hidden;
    background-image: url('../assets/bg-about-blur.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

.custom-bg {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
}

.custom-bg-header {
    border-radius: 5px;
    background: rgba(72, 44, 2, 0.8);
}
</style>