<template>
    <v-container fluid>
        <div>
            <video autoplay loop muted>
                <source src="../assets/coffee-vdo-bg.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <v-img class="mx-auto my-3" max-width="280" src="src/assets/MainLogo.png" />
        <v-card class="mx-auto pa-12 pb-8 transparent-card custom-card" elevation="0" max-width="448" rounded="lg"
            :class="{ 'loading': loading }">
            <template #loader> <v-progress-linear v-if="loading" indeterminate /></template>
            <v-form class="mx-auto" validate-on="submit" @submit.prevent="handleLogin()" ref="form">
                <div class="text-subtitle-1 text-medium-emphasis my-1">Username</div>

                <v-text-field required density="compact" placeholder="Enter your username" variant="outlined"
                    v-model="username" :rules="usernameRules"></v-text-field>

                <div class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between">
                    Password
                </div>

                <div>
                    <v-text-field required density="compact" type="password" placeholder="Enter your password" class="my-1"
                        variant="outlined" v-model="password" :rules="passwordRules">
                        <template #details>
                            <a class="text-caption text-decoration-none text-grey"
                                href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                                Forgot login password?</a>
                        </template>
                    </v-text-field>
                    <h5 v-if="showError" class="text-error text-center">**User not found or incorrect
                        password !
                    </h5>
                </div>
                <div>
                    <v-checkbox label="Remember me" v-model="remember" />
                    <v-btn type="submit" rounded block class="mb-4" color="brown" size="large" variant="tonal">
                        <p class="font-weight-bold">Login</p>
                    </v-btn>
                </div>
            </v-form>
        </v-card>
        <h5 class="text-grey d-flex justify-center mt-12">For Education Only. © 2023 D-Coffee, SimpleDev Team.
            All
            right
            reserved.
        </h5>
    </v-container>
</template>

<script setup lang="ts">
import router from '@/router';
import { useAuthStore } from '@/services/auth';
import { ref } from 'vue';
import { useAttendanceStore } from '../store/attendance';


const auth = useAuthStore()

const form = ref<HTMLFormElement | null>(null)
const username = ref('')
const password = ref('')

const loading = ref(false)
const loginSuccessful = ref(false)
const showError = ref(false)
const remember = ref(true)

const handleLogin = async () => {

    await new Promise(function (resolve) {
        if (form.value!.checkValidity()) {
            loading.value = true
        }
        return setTimeout(resolve, 900);
    });

    loading.value = false
    loginSuccessful.value = auth.methods.checkUser(username.value, password.value);

    if (!loginSuccessful.value && form.value!.checkValidity()) {
        showError.value = !loginSuccessful.value
    }
    else {
        if (!remember.value) {
            auth.methods.clearUser()
        }
        router.replace('/pos')
        router.removeRoute('login')
        useAttendanceStore().openAttendanceDialog()
    }
}

const usernameRules = [
    (v: string) => !!v || 'Username is required',
]
const passwordRules = [
    (v: string) => !!v || 'Password is required',
]

</script>


<style scoped>
.custom-card {
    border: 2px solid transparent;
}

a:hover {
    color: #000;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

.transparent-card {
    background: rgba(0, 0, 0, 0.9);
}
</style>