@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #94492e;
  transition: 0.4s;
  /* padding: 3px; */
}

@font-face {
  font-family: 'Kanit';
  src:
    url('@/assets/fonts/Kanit-Regular.ttf') format('ttf'),
    url('@/assets/fonts/Kanit-Regular.woff') format('woff'),
    url('@/assets/fonts/Kanit-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(165, 98, 35, 0.8);
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: brown;
} */

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
