<script setup lang="ts">
import { type Member } from '@/views/Customer/types/Member'
import MemberDetailTable from '../views/CustomerDetailTable.vue'
import { provide, ref } from 'vue'
import { useMembersStore } from '../store/members'
import { useMemberStore } from '@/views/POS/store/member'
const membersStore = useMembersStore()
</script>
<template>
  <div style="height: 520px; overflow-y: auto">
    <v-container>
      <v-row>
        <v-col cols="12" md="" v-if="membersStore.currentMember?.fName">
          <MemberDetailTable :members="membersStore.currentMember"></MemberDetailTable>
        </v-col>
        <v-col cols="12" md="" v-else v-for="item of membersStore.members" :key="item.id">
          <MemberDetailTable :members="item"></MemberDetailTable>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
@/views/Customer/types/Member
