<script setup lang="ts">
import { onMounted } from 'vue';
import MainDrawer from './components/MainDrawer.vue'
import { useAuthStore } from './services/auth';
import AttendanceDialog from './views/Auth/components/AttendanceDialog.vue';

const auth = useAuthStore()

onMounted(() => {
  auth.methods.checkRememberMe()
})

</script>

<template>
  <v-app>
    <AttendanceDialog v-if="auth.methods.isAuthenticated()" />
    <v-layout>
      <MainDrawer v-if="auth.methods.isAuthenticated()" />
      <v-main style="height: 100vh; overflow-y: auto;">
        <RouterView />
      </v-main>
    </v-layout>
  </v-app>
</template>


<style>
* {
  font-family: 'Kanit';
}

.bg-img {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
}
</style>