<template>
    <v-layout style="overflow-x: auto;">
        <v-row no-gutters>
            <v-col cols="12">
                <v-card style=" height: 120px">
                    <v-img src="src/assets/banner5.png" cover
                        style="height: 150px;">
                        <h1 class="font-weight-bold pa-8">{{ title }}</h1>
                    </v-img>
                </v-card>
            </v-col>
            <v-col cols="12">
                <slot name="top"></slot>
            </v-col>
            <v-col cols="12">
                <slot name="content"></slot>
            </v-col>
        </v-row>
    </v-layout>
</template>

<script setup >
defineProps({
    title: String
})
</script>

