<script setup lang="ts">
import { inject } from 'vue';
import { useEmployeeStore } from '../stores/employee';
import type { Employee } from '../types/Employee';
import EmployeeDialog from '../views/EmployeeDialog.vue';

const employeeStore = useEmployeeStore()

const search = inject<string>('search')
</script>

<template>
  <v-data-table class="flex-grow-1"
    fixed-header
    style="background-color: #3a312beb"
    :headers="employeeStore.headers" :items="employeeStore.employees"
    :search="search"
    >
    <template  v-slot:item="{ item }">
      <!-- <thead>
        <tr>
          <th class="text-left">ID</th>
          <th class="text-left">Role</th>
          <th class="text-left">First Name</th>
          <th class="text-left">Last Name</th>
          <th class="text-left">Tel.</th>
          <th class="text-left">Gender</th>
          <th class="text-left">Birth Date</th>
          <th class="text-left">Qualification</th>
          <th class="text-left">MoneyRate(baht.)/Month</th>
          <th class="text-left">Start Date</th>
          <th class="text-left">Action</th>
        </tr>
      </thead>
    <tbody>-->
      <!-- <tr v-for="item in employeeStore.employees" :key="item.id" :search="search" > -->
        <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.roles }}</td>
        <td>{{ item.firstName }}</td>
        <td>{{ item.lastName }}</td>
        <td>{{ item.tel }}</td>
        <td>{{ item.gender }}</td>
        <td>{{ item.birthDate }}</td>
        <td>{{ item.qualification }}</td>
        <td>{{ item.moneyrate }}</td>
        <td>{{ item.minWorkingHour }}</td>
        <td>{{ item.startDate }}</td>

        <td>
          <v-icon size="small" class="me-2" @click="employeeStore.editItem(item)">
            mdi-pencil
          </v-icon>
          <v-icon size="small" @click="employeeStore.deleteItem(item)">
            mdi-delete
          </v-icon>
        </td>
      </tr>
    </template>
    <!-- </tbody> -->
  </v-data-table>
  <EmployeeDialog></EmployeeDialog>
</template>


<style scoped>

.v-data-table-header {
  background-color: #c4865d !important;
}
.v-data-table {
  display: flex;
  flex-direction: column;
  height: 100%;
}
</style>
